/* 
	NEED TO DO
	[ ] "design + illustration" shrink for small screen
	[ ] about page: remove float when reaching certain breakpoint

	NICE TO HAVE 
  	[ ] sticky bottom footer
*/

/* styles for 2017 biosite */

body {
	font-family: Work Sans, sans-serif;
	font-weight: 400;
}

a {
	color: #7041BC;
	text-decoration: none;
	font-weight: 400;
}

a:hover {
	font-weight: 600;
}

h1 {
	color: #7041BC;
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
	font-size: 2em;
}

h3 {
	margin: .25em 0;
	font-weight: 400;
}

h4 {
	margin: .35em 0;
	color: black;
	font-weight: 400;
}

.main {
	width: 100%;
	max-width: 1000px;
	display: block;
	justify-content: center;
  	align-items: center;
	margin: 0 auto;
	background-color: white;
}

.header {
	width: 100%;
	max-width: 1000px;
	text-transform: uppercase;
	background-color: white;
	text-align: center;
	display: block;
	margin: auto;
	margin-top: 1.5em;
	color: black;
}

.header * {
	display: inline;
	vertical-align: middle;
}

.header img {
	width: 100%;
	max-width: 300px;
}

.header div {
	white-space: nowrap;
	font-size: 1.5em;
	padding: 1em;
	letter-spacing: .25em;
}

.menu {
	display: block;
	margin: 0 auto;
	margin-top: 1.5em;
	background-color: white;
	margin-bottom: 3em;
}

.menu ul {
	text-align: center;
}

.menu li {
	display: inline;
	padding: 1.5em;
	white-space: nowrap
}

.blurb {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	width: 100%;
	max-width: 750px;
	align-items: flex-start;
	background-color: white;
}

.blurb img {
	width: 100%;
	max-width: 350px;
	height: auto;
	display: block;
	margin: 0 auto;
}

.blurb div {
	width: 300px;
	padding: 10px;
	margin-left: 20px;
	display: block;
	margin: 0 auto;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0 auto;
	width: 100%;
	max-width: 1000px;
}

.grid div {
	width: 300px;
	padding: 0 1em;
}

.about {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 750px;
	margin-top: 
}

.about img {
	float: left;
	margin: 1em;
}

.footer {
	text-align: center;
	padding: 2em 0;
	background-color:
}

.footer img {
	width: 35px;
	vertical-align: middle;
	padding: .5em 1.5em;
}

/* SMALL DEVICES */










