/* styles for 2017 biosite */

body {
	font-family: Work Sans, sans-serif;
}

.main {
	width: 100%;
	max-width: 1000px;
	display: flex;
	justify-content: center;
  	align-items: center;
	margin: auto;
	background-color: gray;
}

.header {
	width: 100%;
	max-width: 900px;
	text-transform: uppercase;
	background-color: white;
	text-align: center;
}

.header img {
	width: 100%;
	max-width: 320px;
}

.header * {
	display: inline;
}