<!DOCTYPE html>
<html>
	
	<head>
		<title>Portfolio project template</title>

		<link rel="stylesheet" type="text/css" href="../../styles.css">
		<link href='https://fonts.googleapis.com/css?family=Cabin:400,700' rel='stylesheet' type='text/css'>
		<link rel="shortcut icon" type="image/png" href="../../favicon.ico" />
		<meta id="meta" name="viewport" content="width=device-width; initial-scale=1.0" />
	</head>

	<body>
		<div id="allbody">
			<div id="menu">
				<ul>
					<li><a href="../../index.html">Joyce Rice</a></li>
					<li><a href="../../index.html#work">Work</a></li>
					<li><a href="../../index.html#about">About</a></li>
					<li><a href="http://blog.teenyrobots.net" target="_blank">Blog</a></li>
				</ul>
			</div>
			<h1>Title</h1>
			<em>role</em>
			<div class="picContainer">
				<img src="pic1.png">
				<img src="hero.png" class="inlinePic" style="padding-right: 1%">
				<img src="hero.png" class="inlinePic">
			</div>
			<br style="clear:both">
			<p>Content</p>
			<hr>

			<div id="footer">
				<p>thanks!</p>
				<a href="https://www.instagram.com/teenyrobots/" target="_blank"><img src="../../images/grams.jpg"></a>
				<a href="https://twitter.com/teenyrobots" target="_blank"><img src="../../images/twitter.jpg"></a>
				<a href="mailto:joycer@teenyrobots.net?Subject=Hello%20friend" target="_blank"><img src="../../images/mail.jpg"></a>
			</div>

		</div>
	</body>

</html>